name: Link Arb Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install

      - run: node bot.js
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
          RPC_URL: ${{ secrets.RPC_URL }}

      - name: Save state
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add state.json
          git commit -m "update state" || echo "no changes"
          git push
